<h2 align="center">Title: <%= article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <% if article.check_if_article_has_user %>
    <ul class="listing">
      <div class="row center">
        <div class="col-md-4 col-md-offset-4">
          <li>Created by:</li>
          <li><%= article.link_to_gravatar_and_user_path %></li>
          <li class="article-title">
            <%= article.link_to_article_and_user_path %>
          </li>
          <li>
            <small>
              <%= pluralize(article.user.articles.count, "article") if article.user.articles %>
            </small>
          </li>
        </div>
      </div>
    </ul>
  <% end %>
  <h4 class="center description"><strong> Description:</strong></h4>
  <hr>
  <%= simple_format(article.description) %>
  <% article.check_model_has_categories %>
  <p> Categories: <%= render article.categories %> </p>

  <div class="article-actions">
    <% article.check_if_logged_in_and_has_privileges %>
    <%= article.link_to_editing_article_path %>
    <%= article.link_to_deleting_article_path %>
    <%= article.link_to_view_article_path %>
  </div>
</div>